@tailwind base;
@tailwind components;
@tailwind utilities;

.links {
  display: flex;
  gap: 1rem;
  /* horizontal divider between links */
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.5rem;
}
